parameters:
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    level: 6
    paths:
        - %currentWorkingDirectory%/src
    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'
