<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  >

  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>

  <testsuites>
    <testsuite name="integration">
      <directory>./tests/integration</directory>
    </testsuite>
  </testsuites>

  <php>
    <env name="SNMP_SERVER" value="127.0.0.1"/>
    <env name="SNMP_COMMUNITY_RO" value="public"/>
    <env name="SNMP_COMMUNITY_RW" value="secret"/>
    <env name="SNMP_PASS_PRIV" value="P@ssword12345"/>
    <env name="SNMP_PASS_USER" value="P@ssword12345"/>
    <env name="SNMP_USER" value="user1"/>
    <env name="SNMP_PORT" value="10161"/>
  </php>

</phpunit>
